<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>ML Bets - Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- Navigation -->
  <nav>
    <div class="nav-left">Machine Learning Bets</div>
    <div class="nav-right">
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('predictions') }}">Predictions</a>
      <a href="{{ url_for('results') }}">Results</a>
      <a href="{{ url_for('informations') }}">FAQ</a>
    </div>
  </nav>

  <!-- Page Content -->
  <header>
    <h1>Machine Learning Bets</h1>
  </header>

  <div class="model-explanation-section">
    <div class="model-explanation-card">
      <h2>Random Forest Model</h2>
      <p>
        Our  Random Forest model leverages historical match data and advanced metrics to deliver highly accurate football match predictions. By synthesizing insights from multiple decision trees, our approach minimizes overfitting and provides robust, data-driven forecasts. 
      </p>
      <p>Model evaluation: Accuracy 70%, Home win recall: 87%, X2 recall: 75% </p>
      <p>More information about the model can be found in the FAQ section.</p>
    </div>
  </div>

  <!-- Performance Stats -->
  <div class="stats-section">
    <h2>Current Performance Stats</h2>
    <div class="stats-grid">
      
      <!-- High Confidence Card -->
      <div class="stats-card">
        <h3>High Confidence Predictions</h3>
        <p>
          <!-- All-time stats -->
          <strong>All Time</strong><br>
          Correct: <strong>{{ high_conf_correct_total }}</strong> out of: <strong>{{ high_conf_bets_total }}</strong><br>
          Accuracy: <strong>{{ high_conf_accuracy_total }}%</strong>
        </p>
        <p>
          <!-- Last week stats -->
          <strong>Last Week</strong><br>
          Correct: <strong>{{ high_conf_correct_week }}</strong> out of: <strong>{{ high_conf_bets_week }}</strong><br>
          Accuracy: <strong>{{ high_conf_accuracy_week }}%</strong>
        </p>
      </div>
      
      <!-- All Bets Card -->
      <div class="stats-card">
        <h3>All Predictions</h3>
        <p>
          <!-- All-time stats -->
          <strong>All-Time</strong><br>
          Correct: <strong>{{ all_correct_total }}</strong> out of: <strong>{{ all_bets_total }}</strong></strong><br>
          Accuracy: <strong>{{ all_accuracy_total }}%</strong>
        </p>
        <p>
          <!-- Last week stats -->
          <strong>Last Week</strong><br>
          Correct: <strong>{{ all_correct_week }}</strong> out of: <strong>{{ all_bets_week }}</strong></strong><br>
          Accuracy: <strong>{{ all_accuracy_week }}%</strong>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
